div.about {
    width: 90%;
    margin: 5% auto; /* center horizontally */
    background-color: #00e5ff99;
    border-radius: 25px;
    padding: 10px;
    display: block;
    text-align: center;
}

div.about p {
    display: block;
    font-family: "Dramatic", sans-serif;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.about p.small-text {
    font-size: 30px;
}

div.about img {
    display: block;
    width: 70%;
    margin: 10px auto; /* center horizontally */
}

picture.about {
    display: block;
    max-width: 800px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

picture.about img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.bio {
    font-family:'Paragraph', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
