div.index {
    width: 60%;
    margin: 2.5% auto; /* center horizontally */
    background-color: #00e5ff99;
    border-radius: 25px;
    padding: 10px;
    display: block;
    text-align: center;
}

div.index p {
    display: block;
    font-family: "Dramatic", sans-serif;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.index img {
    display: block;
    width: 70%;
    margin: 10px auto; /* center horizontally */
}

p.blurb {
    font-size: 27px;
}